body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #000;
    padding: 15px;
    margin: 20px auto;
    max-height: 70vh;
    overflow-y: auto;
    width: 90%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#statusMessageOpen {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: green;
}

#statusMessageClosed {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

#lastUpdatedTime {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000;
}

/* Toggle Switch */
.switch {
  position: absolute;
  top: 20px;
  left: 60px;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Rounded slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Currency Label */
#currencyLabel {
  position: absolute;
  top: 20px;
  left: 20px;
}